<!DOCTYPE html>
<html>
  <%- include('partial/header') %>
  <body>
    <div class="container">
      <div class="left-column">
        <!-- Left Column Content -->
        <div class="card form-div">
          <h3>
            <strong
              ><img src="./assets/onlymango.png" class="logo" /> Mango
              Tester</strong
            >
          </h3>
          <hr />
          <p class="warning">
            NOTE: Please enter your valid credentials and test sequence file.
          </p>
          <form enctype="multipart/form-data">
            <div class="form-group">
              <label for="username">Username:</label>
              <input
                type="text"
                id="username"
                name="username"
                class="form-control"
                placeholder="Name"
              />
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="Password"
              />
            </div>
            <div class="form-group">
              <label for="jsonFile">JSON File:</label>
              <input
                type="file"
                id="jsonFile"
                name="jsonFile"
                class="form-control"
                placeholder="JSON File"
                accept=".json"
              />
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary test" id="test">
                Start Test
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="right-column">
        <!-- Right Column Content -->
        <div class="card animated-text" id="myDiv">
          <span id="completionMessage" class="animated-word">Welcome to Mango Tester</span>
        </div>        
        <section class="gray-overlay hidden" id="gray-overlay">
          <div class="dots-container">
            <div class="dots-animation">
              <div class="d-flex flex-row">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
              </div>
            </div>
            <br />
            <h5 id="timer-message">Hold on for :</h5>
            <div class="timer-box" id="timer">00:00:00</div>
          </div>
        </section>
        <div id="toastContainer" class="hidden"></div>
        <div class="card">
          <a href="./dashboard" target="__blank" class="btn btn-primary">
              Go to Dashboard
          </a
          >
          <a href="/download" class="btn btn-primary">
              Sample Json File
          </a
          >
        </div>
      </div>
    </div>

    <script src="./scripts/Client.js"></script>
  </body>
</html>
