<!-- partial for each row filename -->
<tr>
  <td><%= test_result_files %></td>
   <td>
    <a href="/dashboard/run_test?file=<%= test_result_files %>" target="_blank" class="btn btn-primary run">Run</a>
    </td>
</tr>
    
 
